<div class="center">
  <h2>Position: {{position.PositionName}}</h2>
  <p class="lead">Updating Position</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form #f='ngForm' (ngSubmit)='onSubmit(f)'>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" [ngClass]="{'has-error':PositionName.errors}">
              <label class="control-label" for="PositionName">Position Name:</label>
              <input [(ngModel)]="position.PositionName" #PositionName='ngModel'class="form-control" id="PositionName" type="text" name="PositionName" required/>
              <span *ngIf="PositionName.errors && PositionName.errors.required" class="help-block">Position name is required.</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" [ngClass]="{'has-error':PositionDescription.errors}">
              <label class="control-label" for="PositionDescription">Description:</label>
              <textarea [(ngModel)]="position.PositionDescription" #PositionDescription='ngModel'class="form-control" id="PositionDescription" rows="5" name="PositionDescription" required></textarea>
              <span *ngIf="PositionDescription.errors && PositionDescription.errors.required" class="help-block">Position description is required.</span>
            </div>
          </div>
        </div>
        <hr />
        <a routerLink="/positions" class="btn btn-warning pull-left">Return to Position List</a>
        <input [disabled]="!f.valid" type="submit" class="btn btn-primary pull-right" value="Update Position" />
        <br />
        <br />
      </form>
    </div>
  </div>
<br />
<div *ngIf="successMessage" class="alert alert-success">
  <strong>Success!</strong> Position: {{position.PositionName}} was successfully saved.
</div>
<div *ngIf="failMessage" class="alert alert-danger">
  <strong>Error!</strong> Position: {{position.PositionName}} could not be saved.
</div>
</div>
<br /><br />