<div class="row">
 <div class="col-md-12">
 <h2>Departments</h2>
 <a href="/departments/add" class="btn btn-success pull-right">Add New Department</a>
 <hr />

 <div class = "table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Department Number</th>
                <th>Department Name</th>
            </tr>
        </thead>
        <tbody>
            {{#each departments}}
            <tr>
                <div class="col-md-4">
                    <td><a href="/employees?department={{departmentId}}">{{departmentId}}</a></td>>
                    <td><a href="/department/{{departmentId}}">{{departmentName}}</a></td>
                </div>
            </tr>
            {{/each}}
        </tbody>
    </table>
     
</div>
 
 
 
 </div>
</div>
